﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/MasterPage.master" AutoEventWireup="true" CodeFile="Dashboard.aspx.cs" Inherits="Admin_Dashboard" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <%--<table cellpadding="0" cellspacing="0" border="0" width="982px">
        <tr width="982px">
            <td colspan="2"></td>
        </tr>
        <tr style="height: 1px">

            <td colspan="2"></td>
        </tr>



        <tr id="NoResults" style="display: none;">
            <td colspan="2">
                <div id="noresultsdiv" class="noresultsdiv"></div>
            </td>
        </tr>--%>
        <%--<tr>
            <td colspan="5">
                <h3 class="h3subheader">Orders</h3>
            </td>
        </tr>
        <tr>
            <td class="admin-content" style="padding-top: 5px">
                <div class="admin-tblHeader">
                    <span class="dashboard-tblHeaderSrno">SrNo</span>
                    <span class="dashboard-tblHeaderOrderDate">Product ID</span>
                    <span class="dashboard-tblHeaderProductId">Order Date</span>
                    <span class="dashboard-tblHeaderShipmentType ">Shipment Type</span>
                    <span class="dashboard-tblHeaderDetails">View Details</span>
                </div>
                <div class="tblList">
                    <table id="tblUsers" class="DisplayTableDashboard" width="100%" border="0">
                        <tr>
                            <td width="200">1</td>
                            <td width="180">PS908432</td>
                            <td width="290">01/01/2014 12:09:33 PM</td>
                            <td width="200">COD</td>
                            <td width="200">View Details</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="tblSeparator"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="200">2</td>
                            <td width="180">PS395092</td>
                            <td width="290">13/01/2014 09:23:54 PM</td>
                            <td width="200">OLP</td>
                            <td width="200">View Details</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="tblSeparator"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="200">3</td>
                            <td width="180">PS091384</td>
                            <td width="290">11/01/2014 06:45:51 PM</td>
                            <td width="200">COD</td>
                            <td width="200">View Details</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="tblSeparator"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="200">3</td>
                            <td width="180">PS098385</td>
                            <td width="290">15/01/2014 10:25:26 PM</td>
                            <td width="200">COD</td>
                            <td width="200">View Details</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="tblSeparator"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div style="float: right"><a href="#">View all</a></div>
                            </td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                </div>
            </td>
            <td>
                <img src="images/spacer.gif" width="1" height="05" alt="" />
            </td>
        </tr>

        <tr>
            <td colspan="5">
                <h3 class="h3subheader">Shipments</h3>
            </td>
        </tr>
        <tr>
            <td class="admin-content" style="padding-top: 5px">
                <div class="admin-tblHeader">
                    <span class="dashboard-tblHeaderSrno">SrNo</span>
                    <span class="dashboard-tblHeaderOrderDate">Product ID</span>
                    <span class="dashboard-tblHeaderProductId">Order Date</span>
                    <span class="dashboard-tblHeaderShipmentType ">Shipment Type</span>
                    <span class="dashboard-tblHeaderDetails">View Details</span>
                </div>
                <div class="tblList">
                    <table id="Table1" class="DisplayTableDashboard" width="100%" border="0">
                        <tr>
                            <td width="200">1</td>
                            <td width="180">PS908432</td>
                            <td width="290">01/01/2014 12:09:33 PM</td>
                            <td width="200">COD</td>
                            <td width="200">View Details</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="tblSeparator"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="200">2</td>
                            <td width="180">PS395092</td>
                            <td width="290">13/01/2014 09:23:54 PM</td>
                            <td width="200">OLP</td>
                            <td width="200">View Details</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="tblSeparator"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="200">3</td>
                            <td width="180">PS091384</td>
                            <td width="290">11/01/2014 06:45:51 PM</td>
                            <td width="200">COD</td>
                            <td width="200">View Details</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="tblSeparator"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="200">3</td>
                            <td width="180">PS098385</td>
                            <td width="290">15/01/2014 10:25:26 PM</td>
                            <td width="200">COD</td>
                            <td width="200">View Details</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="tblSeparator"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div style="float: right"><a href="#">View all</a></div>
                            </td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                </div>
            </td>
            <td>
                <img src="images/spacer.gif" width="1" height="388" alt="" />
            </td>
        </tr>--%>


   <%-- </table>--%>


</asp:Content>

