.admin-topnav {
	background-color: #FFF;
}
.admin-home-banner {
	background-image: url(../images/admin-banner-bg.jpg);
	height:194px;
	
}
.admin-content {
	background-color: #FFF;
	vertical-align: top;
	/*padding-top: 20px;*/
}
.admin-nav
{
    background-image: url('../images/ui-bg_diagonals-thick_22_1484e6_40x40.png');
    background-repeat: repeat;
}
.admin-home-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 550px;
}
.question-banner-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 485px;
}
.dashboard-banner-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 556px;
}
.question-banner-text2 {
	font-size: 15px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	text-align: right;
	width: 518px;
	line-height: 17px;
	margin-left: 210px;
	margin-top: 10px;
}
.admin-tblHeader
{
    color: #FFF;
    font-size: 14px;
    font-family: Nunito;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    margin-right: 15px;
    margin-left: 15px;
    height: 28px;
    padding-top: 8px;
    padding-left: 15px;
    background-image: url('../images/ui-bg_brownstrips_dark.png');
}
.admin-tblHeaderName {
	font-weight: 400;
}
.dashboard-tblHeaderSrno{
	font-weight: 400;
	padding-left: 10px;
}
.dashboard-tblHeaderOrderDate {
	font-weight: 400;
	padding-left: 140px;
}
.dashboard-tblHeaderProductId {
	font-weight: 400;
	padding-left: 120px;
}
.dashboard-tblHeaderShipmentType {
	font-weight: 400;
	padding-left: 120px;
}
.dashboard-tblHeaderDetails {
	font-weight: 400;
	padding-left: 80px;
}


.admin-tblHeaderUID {
	font-weight: 400;
	padding-left: 25px;
}
.admin-tblHeaderNoq {
	font-weight: 400;
	padding-left: 500px;
}
.admin-tblHeaderEmailID {
	font-weight: 400;
	padding-left: 100px;
}
.admin-tblHeaderFeedback {
	font-weight: 400;
	padding-left: 120px;
}
.admin-tblHeaderDate {
	font-weight: 400;
	padding-left: 188px;
}
.admin-tblHeaderStatus {
	font-weight: 400;
	padding-left: 75px;
}
.tblList {
	margin-right: 15px;
	margin-left: 30px;
	margin-top: 10px;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 300;
	color: #535353;
}
.tblSeparator 
{
    
	width: 918px;
	background-color: #DDD;
	height: 1px;
	border-radius: 2px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #f5f5f5;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#textfieldEmail {
	color: #545454;
	background-color: #ffffff;
	height: 36px;
	width: 650px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 15px;
	margin-bottom: 10px;
}

.custom-selectTopic select {
	display: inline-block;
	outline: none;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	font-family: Nunito;
	font-weight: 300;
	font-size: 14px;
	margin-top: 10;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-left: 0;
	padding-left: 3px;
	height: 38px;
	width: 250px;
}
.custom-selectTopic1 select {
	display: inline-block;
	outline: none;
	color: white;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #39F;
	font-family: Nunito;
	font-weight: 300;
	font-size: 14px;
	margin-top: 10;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-left: 0;
	padding-left: 3px;
	height: 38px;
	width: 250px;
}

#textfieldTitle {
	color: #545454;
	background-color: #ffffff;
	height: 36px;
	width: 350px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 15px;
	margin-bottom: 10px;
}
#textfieldText {
	color: #545454;
	background-color: #ffffff;
	height: 75px;
	width: 350px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 15px;
	margin-bottom: 10px;
}
.label {
	color: #ffffff;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 300;
	margin-left: 15px;
}
.searchID {
	font-family: Nunito;
	font-size: 14px;
	color: #545454;
	font-weight: 300;
	padding-bottom: 5px;
	padding-left: 15px;
}
.searchIDSelect {
	float: left;
	padding-left: 15px;
	padding-right: 10px;
}
.metaIDInput {
	float: left;
	padding-right: 10px;
	padding-top:10px;
}
.boxIDInput {
	float: left;
	padding-right: 10px;
}
.row2 {
	padding-top: 30px;
}
.row1 {
	padding-top: 30px;
	padding-bottom:7px;
}
.col1 {
	padding-top: 10px;
	float:left;
	width:410px;
}
.col2 {
	padding-top: 10px;
	float:right;
	width:550px;
}
#col {
	margin-top: 10px;
	margin-bottom: 20px;
	padding:20px 55px 20px 55px;
	float:left;
	background-color:#f1f1f1;
	clear:both;
}
#col .bluebox {
	width:397px;
	height:197px;
	margin:0 25px 25px 0;
	padding:20px 10px 20px 10px;
	border-radius:20px;
	-moz-border-radius:20px;
	float:left;
	background:#00468c;
	color:#fff;
	
}
#col .greenbox {
	width:397px;
	height:197px;
	padding:20px 10px 20px 10px;
	border-radius:20px;
	-moz-border-radius:20px;
	float:left;
	background:#336600;
	color:#fff;
}
#col .redbox {
	width:397px;
	height:197px;
	margin:0 25px 25px 0;
	padding:20px 10px 20px 10px;
	border-radius:20px;
	-moz-border-radius:20px;
	float:left;
	background:#d90000;
	color:#fff;
	margin:0 25px 0px 0;
}
#col .purplebox {
	width:397px;
	height:197px;
	padding:20px 10px 20px 10px;
	border-radius:20px;
	-moz-border-radius:20px;
	float:left;
	background:#8500b2;
	color:#fff;
}
input[type=submit] {
	font-family: Nunito;
	background-color:transparent;
	height:33px;
	width :120px;
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	float:left;
	background:#eeeeee;
	line-height:33px;
	color:#545454;
	text-align:center;
	cursor:pointer;
	margin-bottom:10px;
}

input[type=submit]:hover {
	font-family: Nunito;
	background-color:transparent;
	height:33px;
	width :120px;
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	float:left;
	background:#1e6cff;
	line-height:33px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	margin-bottom:10px;
}



#text_TopicName {
	color: #FFF;
	background-color: #39F;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 36px;
	width: 350px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 5px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
}



   .no-pointer-events .custom-select:after {
        content: none;
    }
.searchID {
	font-family: Nunito;
	font-size: 14px;
	color: #545454;
	font-weight: 300;
	padding-bottom: 5px;
	padding-left: 15px;
}
.searchBtn {
	padding-top: 7px;




}
.searchBtn2 {
	padding-left: 10px;
	padding-top: 7px;
}

.searchIDInput {
	float: left;
	padding-right: 10px;
}
.searchIDSelect {
	float: left;
	padding-left: 15px;
	padding-right: 10px;
}
.qselectTopic {
	float: none;
	padding-left: 0px;
	padding-right: 10px;
}
.choosefile {
	float: left;
	margin-top: -10px;
	padding-right: 10px;
}
.bulk-buttons {
	margin-top: 50px;
}
.qCancelClearForm {
	float: left;
	padding-right: 15px;
	margin-left: 400px;
}





.search {
	font-family: Nunito;
	font-size: 17px;
	font-weight: 400;
	padding-left: 15px;
}
.search2 {
	font-family: Nunito;
	font-size: 14px;
	font-weight: 300;
	padding-left: 15px;
}
.row2 {
	padding-top: 30px;
}

.row1dashboard {
	padding-top: 0px;
}

.searchMenu {
	font-family: Nunito;
	font-size: 17px;
	font-weight: 300;
	padding-left: 15px;
}
.searchMenu1 {
	font-family: Nunito;
	font-size: 17px;
	font-weight: 300;
	padding-left: 15px;
	padding-top:17px;
}

.admin-tblHeaderView {
	font-weight: 400;
	padding-left: 630px;
}

.searchCountry {
	float: left;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 3px;
}

.searchMenu1 label:hover
{
    color:#1e6cff;
}

 .footerC a
    {
        float: left;
text-decoration: none;
color: #000;
font-family: Nunito;
font-size: 14px;
font-weight: 300;
text-align: justify;
  padding-top :0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
        }
     .footerC a:hover {
	background-color: #FFFFFF;
	
}

.dashboard-search-box
{
    background-image: none;
    height: 74px;
    font-size: 20px;
    font-family: Nunito;
    font-weight: 100;
    color: #FFF;
    background-color: #921FFF;
}


.dashboard-user-text
{
    font-size: 20px;
    font-family: Nunito;
    font-weight: 100;
    color: #FFF;
    float: left;
    margin-left: 500px;
    margin-top:20px;
}

.textfieldText {
	color: #545454;
	background-color: #ffffff;
	height:25px;
	width: 150px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 300;
	margin-left: 15px;
	margin-bottom: 10px;
	
	

}

.custom-selectTopicSearch{
	display: inline-block;
	outline: none;
	height:30px;
	width: 150px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	font-family: Nunito;
	font-weight: 300;
	font-size: 14px;
	padding-right: 5px;
	padding-left: 10px;
	margin-left: 15px;
	margin-bottom: 10px;
	
	
	
}

.custom-selectTopicSearch select option {
	font-family: Nunito;
	font-weight: 300;
	font-size: 14px;
}

input[type=button] {
    font-family: Nunito;
    background-color:transparent;
    height:30px;
    width :150px;
    box-shadow: none;
    border:none;
    border-radius:5px;
    -moz-border-radius:5px;
    float:right;
    background:#eeeeee;
    line-height:30px;
    color:#545454;
    text-align:center;
    cursor:pointer;
    margin-right:15px;
}

input[type=button]:hover {
    font-family: Nunito;
    background-color:transparent;
    height:30px;
    width :150px;
    box-shadow: none;
    border:none;
    border-radius:5px;
    -moz-border-radius:5px;
    float:right;
    background:#1e6cff;
    line-height:30px;
    color:#ffffff;
    text-align:center;
    cursor:pointer;
}

.noresultsdiv
{
    font-family: Nunito;
    font-weight: 400;
    font-size: x-large;
    text-align: center;
    margin-top: 15px;
    color: #640B86;
}
.h3subheader
{
    padding-left: 20px;
    font-family: Nunito;
    font-weight: 400;
    color: #E69D17;
}

