﻿@charset "utf-8";
/* CSS Document */
img {
	border:0
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #c8c8c8;
    width:100%;
    height:100%;
}
.homepage-logo {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.footer
{
    background-image: url('../images/ui-bg_flat_0_e6b900_40x100.png');
    background-repeat: repeat;
}
#Content
{
    width: 961px;
    margin: 0px auto;
    text-align: left;
    border-top-color: #333;
    border-right-color: #333;
    border-bottom-color: #333;
    border-left-color: #333;
}
.d960 {
	background-color: #238c00;
	color: #FFF;
	font-family: Nunito;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 17px;
}
.a960 {
	background-image: url(../images/960-a.jpg);
}
.b960 {
	background-image: url(../images/960-b.jpg);
}
.c960 {
	background-color: #FF0000;
	font-family: Nunito;
}
.c960:hover {
	background-color: #238c00;
	font-family: Nunito;
}
.cta-register {
	font-family: Nunito;
	font-size: 18px;
	color: #FFF;
	width: 125px;
	float: left;
	padding-left: 90px;
	line-height:40px;
	height:43px;
}
.g960 {
	background-color: #003040;
	font-family: Nunito;
	color: #FFF;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 17px;
}
.f960 {
	background-color: #003040;
	background-image: url(../images/906-f.jpg);
	color: #FFF;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Nunito;
	line-height: 17px;
}
.logoleft960 {
	/*background-image: url(../images/960-logo-left.jpg);*/
	
}
.logoright960 {
	/*background-image: url(../images/960-logo-right.jpg);*/
	
}
.e960 {
	background-image: url(../images/960-e.jpg);
	padding-right: 15px;
	padding-left: 15px;
	color: #FFF;
	font-family: Nunito;
	line-height: 17px;
}
.main960 {
	
	background-repeat: no-repeat;
}
.boxHeader {
	font-weight: 400;
	font-size: 22px;
}
.boxNormal {
	font-weight: 300;
	font-size: 14px;
}
.readMore {
	font-family: Nunito;
	font-size: 16px;
	width: 90px;
	float: left;
	margin-top: 4px;
	padding-right: 0px;
}
.readMore a {
	font-family: Nunito;
	font-size: 16px;
	color:#FFFFFF;
	width: 90px;
	float: left;
	padding-right: 0px;
	text-decoration:none;
}
.readMore a:hover {
	text-decoration: underline;
}
.readMore-Grey {
	font-family: Nunito;
	font-size: 16px;
	width: 90px;
	float: left;
	margin-top: 4px;
	padding-right: 0px;
	color: #666;
	text-decoration:none;
}
.readMore-Grey a {
	font-family: Nunito;
	font-size: 16px;
	width: 90px;
	float: left;
	color: #666;
	text-decoration:none;
}
.readMore-Grey a:hover {
	text-decoration: underline;
}
.login-btn {
	float: right;
	padding-right: 7px;
	padding-bottom: 80px;
}
.country-list {
border:none;
	float: right;
	padding-right: 10px;
}
.main960 .headline1 {
	font-family: Nunito;
	font-size: 28px;
	color: #FFF;
	line-height: 30px;
	padding-right: 15px;
	padding-left: 15px;
	z-index:1;
	
	
}
.main960 .headline2 {
	font-family: Nunito;
	font-size: 20px;
	color: #FFF;
	line-height: 20px;
	padding-right: 15px;
	padding-left: 15px;
	font-weight: 300;
	padding-top: 7px;
	z-index:2;
}
.footer {
	font-family: Nunito;
}
.footerA {
	float: left;
	padding-left: 15px;
	width: 660px;
}
.footerB {
	width: 1px;
	background-color: #DDD;
	height: 260px;
	float: left;
	border-radius: 2px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #f5f5f5;
	margin-right: 20px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.footerC {
	width: 250px;
	float: left;
}
.footer-smalllogo {
	width: 180px;
	float: left;
}
.footer-title
{
    line-height: 18px;
    padding-top: 5px;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}
.footer-nav {
	padding-right: 25px;
	font-weight: 400;
	color: #535353;
}
.footer-nav a {
	font-weight: 400;
	color: #535353;
	text-decoration:none;
}
.footer-nav a:hover {
	font-weight: 400;
	color: #ff0000;
	text-decoration:none;
}
.contactHeader {
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}
.footerContactAddress {
	font-size: 13px;
	font-weight: 300;
	color: #FFFFFF;
}
.copyright
{
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
}
.copyright a
{
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    float: none;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.copyright a:hover
{
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    text-decoration: none;
}
.footerC p img {
	float: left;
	padding-right: 5px;
}
.subpageUsername {
	float: left;
	width: 250px;
	text-align: right;
	font-family: Nunito;
	margin-top: 10px;
	margin-left: 90px;
	font-weight: 300;
	font-size: 14px;
}
.subpageDiv {
	width: 1px;
	background-color: #DDD;
	height: 20px;
	float: left;
	border-radius: 2px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #f5f5f5;
	margin-right: 0px;
	margin-left: 15px;
	margin-top: 10px;
}
.subpageLogout {
	float: left;
	width: 50px;
	text-align: left;
	font-family: Nunito;
	margin-top: 10px;
	font-weight: 300;
	font-size: 14px;
	margin-left: 10px;
	color:#000000;
	text-decoration:none;
}

.subpageLogout a{
	float: left;
	color:#000000;
	text-decoration:none;
	
font-family: Nunito;
font-size: 14px;
font-weight: 300;
text-align: justify;
margin-right: 0px;
margin-left: 0px;
height: 20px;
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
}

.subpageLogout a:hover {
	float: left;
	color:#FF0000;
	text-decoration:none;
	
	

}

.subpageDate {
	text-align: right;
	width: 230px;
	font-family: Nunito;
	padding-top: 10px;
	margin-left: 420px;
	font-weight: 300;
	font-size: 14px;
}
.wrapper-dropdown {
	/* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
	width: 200px;
	padding: 10px;
	margin: 0 auto;
	/* Styles */
    background: #9bc7de;
	color: #fff;
	outline: none;
	cursor: pointer;
	/* Font settings */
    font-weight: bold;
}
.wrapper-dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -6px;
	border-width: 6px 0 6px 6px;
	border-style: solid;
	border-color: transparent #fff;
}
.wrapper-dropdown-1 .dropdown {
	/* Size & position */
    position: absolute;
	top: 100%;
	left: 0; /* Size */
	right: 0; /* Size */
	/* Styles */
    background: #fff;
	font-weight: normal; /* Overwrites previous font-weight: bold; */
	/* Hiding */
    opacity: 0;
	pointer-events: none;
}
.wrapper-dropdown-1 .dropdown li a {
	display: block;
	text-decoration: none;
	color: #9e9e9e;
	padding: 10px 20px;
}
/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
	background: #f3f8f8;
}
/* Active state */
.wrapper-dropdown-1.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}
.wrapper-dropdown-1.active:after {
	border-color: #9bc7de transparent;
	border-width: 6px 6px 0 6px;
	margin-top: -3px;
}
.wrapper-dropdown-1.active {
	background: #9bc7de;
	background: linear-gradient(to right, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
}
.sbHolder {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #00a3d9;
	font-family: Nunito;
	font-size: 12px;
	font-weight: normal;
	height: 36px;
	position: relative;
	width: 150px;
	border:none;
	z-index:1;
}
.sbHolder:focus .sbSelector {
border:none;
}
.sbSelector {
	display: block;
	height: 36px;
	left: 0;
	line-height: 36px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 150px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
	color: #ffffff;
	outline: none;
	text-decoration: none;
}
.sbToggle {
	display: block;
	height: 36px;
	outline: none;
	position: absolute;
	right: 0;
	top: 2px;
	width: 30px;
}
.sbHolderDisabled {
	background-color: #00a3d9;
}
.sbHolderDisabled .sbHolder {
}
.sbHolderDisabled .sbToggle {
}
.sbOptions {
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #00a3d9;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 150px;
	height:191px;
	z-index:-9999;
	padding-top:20px;
	margin-top:	-20px;
	overflow-y:scroll;
}
.sbOptions li {
	padding: 0 7px;
}
.sbOptions a {
	border-bottom: dotted 1px #fff;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited {
	color: #ffffff;
	text-decoration: none;
}
/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
	font-family: Nunito;
	position:relative;
	font-weight:normal;
	float:right;
	font-size:12px;
}
/* Login Button */
#loginButton {
	display:inline-block;
	float:right;
	background:#ff4000;
	border-radius:20px;
	-moz-border-radius:20px;
	width:92px;
	height:36px;
	position:relative;
	z-index:30;
	cursor:pointer;
}
/* Login Button Text */
#loginButton span {
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:9px;
	display:block;
	text-align:center;
}
#loginButton:hover {
	background:#ff4000;
	border-radius:20px;
	-moz-border-radius:20px;
	width:92px;
	height:36px;
}
/* Login Box */
#loginBox {
	position:absolute;
	top:34px;
	right:0;
	display:none;
	z-index:29;
}
/* If the Login Button has been clicked */    
#loginButton.active {
	border-radius:18px 18px 0 0;
}
#loginButton.active span {
	background-position:53px -76px;
}
/* A Line added to overlap the border */
#loginButton.active em {
	position:absolute;
	width:100%;
	height:1px;
	background:#ff4000;
	bottom:-1px;
}
/* Login Form */
#loginForm {
	width:200px;
	border-radius:20px 0 20px 20px;
	-moz-border-radius:20px 0 20px 20px;
	margin-top:-1px;
	background:#ff4000;
	padding:6px;
}
#loginForm fieldset {
	margin:0 0 6px 0;
	display:block;
	border:0;
	padding:0;
}
fieldset#body {
	background:#fff;
	border-radius:20px 0 20px 20px;
	-moz-border-radius:20px 0 20px 20px;
	padding:10px 13px;
	margin:0;
}
#loginForm #checkbox {
	width:auto;
	margin:1px 9px 0 0;
	float:left;
	padding:0;
	border:0;
 *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
	color:#3a454d;
	margin:4px 0 0 0;
	display:block;
	float:left;
}
#loginForm #body fieldset label {
	display:block;
	float:none;
	margin:0 0 2px 0;
}
/* Default Input */
#loginForm input {
	width:92%;
	border:1px solid #dddddd;
	border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	color:#3a454d;
	font-weight:bold;
	padding:3px 8px;
	font-size:12px;
}
#loginForm input[type=submit] {
	background-color:transparent;
	height:32px;
	width :82px;
	box-shadow: none;
	border:none;
	margin-top:5px;
	background-image:url(../images/login.png);
	background-repeat:no-repeat;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
}
/* Sign In Button */
#loginForm #login {
	width:auto;
	border-radius:20px;
	-moz-border-radius:20px;
	float:left;
	background:#00a3d9;
	color:#fff;
	padding:7px 10px 8px 10px;
	margin:0 12px 0 0;
	cursor:pointer;
 *padding:7px 2px 8px 2px; /* IE7 Fix */
}
/* Forgot your password */
#loginForm span {
	text-align:center;
	display:block;
	padding:7px 0 4px 0;
}
#loginForm span a {
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
}
#loginForm span a:hover {
	color:#ffffff;
	font-size:12px;
	text-decoration:underline;
}
input:focus {
	outline:none;
}


.DisplayTableDashboard
{
   
    width:100%;
    border-collapse:collapse;
}
/*.DisplayTableDashboard td
{    
color: #777;
font-family: Nunito;
font-size: 14px;
font-weight: 300;
text-align: justify;
margin-right: 5px;
margin-left: 5px;
height: 20px;
padding-top: 0px;
padding-right: 20px;
padding-left: 20px;
}*/


.DisplayTableDashboard td a
{    
   float: right;
text-decoration: underline;;
color: #777;
font-family: Nunito;
font-size: 14px;
font-weight: 300;
text-align: justify;
margin-right: 5px;
margin-left: 5px;
height: 20px;
padding-top: 0px;
padding-right: 10px;
padding-left: 10px;
}