﻿@charset "utf-8";
/* CSS Document */

ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}
a
{
    float: left;
    text-decoration: none;
    color: #333;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    height: 37px;
    padding-top: 19px;
    padding-right: 20px;
    padding-left: 20px;
}
a:hover
{
    background-color: #FFFFFF;
    color: #000000; /*
     background-image: url('../images/ui-bg_diagonals-thick_26_2293f7_40x40.png');
    background-repeat: repeat;

    */
}
li {display:inline;}
