﻿body {
	font:100 13px/1.4 Arial, sans-serif;
	color:#222;
	background:#eee url(../images/bg_a.png) repeat;
}
input:focus, textarea:focus, select:focus {
	outline: none;
}
.sepH_a {
	margin-bottom:5px
}
.sepH_b {
	margin-bottom:10px
}
.sepH_c {
	margin-bottom:20px
}
.small {
	font-size:11px
}
.login_box {
	position:relative;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin:80px 10px 4em;
}
.login_box:before, .login_box:after {
	content:"";
	position:absolute;
	z-index:-2
}
.login_box:before {
	-webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.4);
	box-shadow:0 0 15px rgba(0, 0, 0, 0.4);
	top:50%;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px
}
.lb_content {
	position:relative;
	background:#fff;
	min-height:200px;
	padding:14px 14px 30px
}
.login_logo {
	position:absolute;
	top:-74px;
}
.lb_ribbon {
	color:#fff;
	position:relative;
	font-size:14px;
	float:left;
	clear:both;
	left:-20px;
	margin-bottom:30px;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);
	padding:10px 24px
}
.lb_ribbon:before {
	content:" ";
	background-image:url(../images/ribbon.png);
	background-repeat:no-repeat;
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom:-10px;
	z-index:-1
}
.lb_ribbon.lb_blue
{
    background-image: url('../images/ui-bg_brownstrips.png');
    background-repeat: repeat;
}
.sl_link {
	display:block;
	margin:18px 24px 0 0
}
.m_cont {
	overflow:hidden
}
.l_pane {
	background:#fff
}
a {
	color: #2a85e8;
	text-decoration: none;
	line-height: inherit;
}
a:hover {
	color: #11639d;
}
a:focus {
	color: #cc4714;
	outline: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.hide {
	display: none;
}
.highlight {
	background: #ff0;
}
.row {
	width: 100%;
	max-width: 980px;
	min-width: 727px;
	margin: 0 auto;
}
.row .row {
	min-width: 0;
}
.row .one {
	width: 4.3%;
}
.row .two {
	width: 13%;
}
.row .three {
	width: 21.679%;
}
.row .four {
	width: 30.37%;
}
.row .five {
	width: 39.1%;
}
.row .six {
	width: 47.8%;
}
.row .seven {
	width: 56.5%;
}
.row .eight {
	width: 65.2%;
}
.row .nine {
	width: 73.9%;
}
.row .ten {
	width: 82.6%;
}
.row .eleven {
	width: 91.3%;
}
.row .twelve {
	width: 100%;
}
.row .centered {
	float: none;
	margin: 0 auto;
}
.row .offset-by-one:first-child {
	margin-left: 8.7%;
}
.row .offset-by-two:first-child {
	margin-left: 17.4%;
}
.row .offset-by-three:first-child {
	margin-left: 26.1%;
}
.row .offset-by-four:first-child {
	margin-left: 34.8%;
}
.row .offset-by-five:first-child {
	margin-left: 43.5%;
}
.row .offset-by-six:first-child {
	margin-left: 52.2%;
}
.row .offset-by-seven:first-child {
	margin-left: 60.9%;
}
.row .offset-by-eight:first-child {
	margin-left: 69.6%;
}
.row .offset-by-nine:first-child {
	margin-left: 78.3%;
}
.row .offset-by-ten:first-child {
	margin-left: 87%;
}
.row .offset-by-eleven:first-child {
	margin-left: 95.7%;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	background-color:transparent;
	height:33px;
	width :120px;
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	float:left;
	background:#00468c;
	line-height:30px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	float:right;
	text-transform:uppercase;
}
.button:hover {
	font-family: Arial, Helvetica, sans-serif;
	background-color:transparent;
	height:33px;
	width :120px;
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	float:left;
	background:#a300d9;
	line-height:30px;
	color:#ffffff;
	float:right;
	text-align:center;
	cursor:pointer;
	text-transform:uppercase;
}
l_formform {
	margin: 0 0 18px;
}
form label {
	display: block;
	font-size: 13px;
	line-height: 18px;
	cursor: pointer;
	margin-bottom: 9px;
}
input.input-text, textarea, select {
	display: block;
	margin-bottom: 9px;
}
label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown {
	margin-top: -9px;
}
input.input-text, textarea {
	font-size: 13px;
	padding: 4px 3px 2px;
	background: #fff;
}
input.input-text:focus, textarea:focus {
	outline: none !important;
}
input.input-text.oversize, textarea.oversize {
	font-size: 18px !important;
	padding: 4px 5px !important;
}
input.input-text, textarea {
	width: 254px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
input.large, textarea.large {
	width: 434px;
}
input.expand, textarea.expand {
	width: 100%;
}

form.nice div.form-field input, form.nice input.input-text, form.nice textarea {
	border: solid 1px #bbb;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
form.nice div.form-field input, form.nice input.input-text, form.nice textarea {
	font-size: 13px;
	padding: 6px 3px 4px;
	outline: none !important;
	background: url(../images/input-bg.png) #fff;
}
