﻿body {
}
/*
.tab_container
{
    border: 1px solid #999999;
    border-top: none;
    clear: both;
    float: left;
    width: 98%;
    height:100%;
    background: #FFFFFF;
    font-family: Arial;
    font-size: medium;
    margin-left:15px;
}
	.tab_content {
		
		font-size: 1.2em;
		display: none;
		text-align:justify;
        text-justify:inter-word;
        padding-left:10px;
        padding-right:10px;
	}
	
	
	
	
	ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		height: 32px;
		border-bottom: 1px solid #999999;
		border-left: 1px solid #999999;
		width: 98%;
		margin-left:15px;
	}
	ul.tabs li {
		float: left;
		margin: 0;
		cursor: pointer;
		padding: 0px 21px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: bold;
		background: #EEEEEE;
		overflow: hidden;
		position: relative;
	}
	ul.tabs li:hover {
		background: #CCCCCC;
	}	
	ul.tabs li.active{
		background: #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
	}
*/
.contentdata
{
    margin-bottom:10px;
    }
   
   
   .row1subscriptionpopup input[type=submit] {
	font-family: Nunito;
	background-color:transparent;
	height:26px;
	/*width :100px;*/
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	/*margin-left:25px;*/
	-moz-border-radius:5px;
	float:left;
	background:#a300d9;
	line-height:20px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	padding-bottom:3px;
	margin-bottom:10px;
	margin-left:20px;
}
.row1subscriptionpopup input[type=submit]:hover {
	font-family: Nunito;
	background-color:transparent;
	height:26px;
	/*width :100px;*/
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	/*margin-left:25px;*/
	float:left;
	background:#1e6cff;
	line-height:20px;
	padding-bottom:3px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	
}
.row1subscriptionpopup input[type=button] {
	font-family: Nunito;
	background-color:transparent;
	height:26px;
	/*width :100px;*/
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	/*margin-left:25px;*/
	-moz-border-radius:5px;
	float:left;
	background:#a300d9;
	line-height:20px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	padding-bottom:3px;
	margin-bottom:10px;
	margin-left:10px;
}
.row1subscriptionpopup input[type=button]:hover {
	font-family: Nunito;
	background-color:transparent;
	height:26px;
	/*width :100px;*/
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	/*margin-left:25px;*/
	float:left;
	background:#1e6cff;
	line-height:20px;
	padding-bottom:3px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	
}
.popupdiv1 {
	font-family: Nunito;
	font-size: 16px;	
	float: left;
	padding-top: 20px;
	padding-left: 15px;
	color:#000000;
}
.MainTable
{
    color:#000;
   
    border-collapse:collapse;
    margin-top:20px;
    margin-left:20px;
    
}
.MainTable td
{
    padding-top: 3px;
   
    text-align:left;
    font-family: Nunito;
	font-size: 16px;
}

.MainTable1
{
    color:#000;
   
    border-collapse:collapse;
    margin-top:20px;
    margin-left:30px;
    
}
.MainTable1 td
{
    padding-top: 3px;
   padding-bottom:10px;
    text-align:left;
    font-family: Nunito;
	font-size: 16px;
}

.DisplayTable
{
    margin-top:20px 0px;
    margin-left:20px;
    width:100%;
    border-collapse:collapse;
    margin-bottom:15px;
}
.DisplayTable td
{
    
    padding-left:0px;
    text-align:left;
    font-size: 12px;
    padding-top:10px;
    border-bottom:1px solid #CCCCCC;
    padding-bottom:10px;
}
.DisplayTableTooic
{
    margin-top:20px 0px;
    margin-left:20px;
    width:93%;
    border-collapse:collapse;
    margin-bottom:15px;
}
.DisplayTableTooic td
{
    
    padding-left:0px;
    text-align:left;
    font-size: 12px;
    padding-top:10px;
    border-bottom:1px solid #CCCCCC;
    padding-bottom:10px;
}
.DisplayQuestion
{
    margin-top:20px 0px;
    margin-left:20px;
    width:96%;
    border-collapse:collapse;
    margin-bottom:30px;
}
.DisplayQuestion td
{
    
    padding-left:10px;
    text-align:left;
    font-size: 16px;
    padding-top:20px;
    border-bottom:1px solid #CCCCCC;
    padding-bottom:10px;
}

.admin-popuptable
{
    background-color: #8500B2;
	color: #FFF;
	font-size: 14px;
	font-family: Nunito;
	-webkit-border-radius: 350px;
	-moz-border-radius: 350px;
	border-radius: 350px;
	margin-top:10px;
	margin-right: 10px;
	margin-left: 5px;
	height: 28px;
	padding-top: 8px;
	padding-left: 15px;
	width:450px;
}
.admin-popuptableTopic
{
    background-color: #8500B2;
	color: #FFF;
	font-size: 14px;
	font-family: Nunito;
	-webkit-border-radius: 350px;
	-moz-border-radius: 350px;
	border-radius: 350px;
	margin-top:10px;
	margin-right: 10px;
	margin-left: 5px;
	height: 28px;
	padding-top: 8px;
	padding-left: 15px;
	width:535px;
	margin-bottom:15px;
}
.admin-popuptableTopicName
{
    background-color: #8500B2;
	color: #FFF;
	font-size: 14px;
	font-family: Nunito;
	-webkit-border-radius: 350px;
	-moz-border-radius: 350px;
	border-radius: 350px;
	margin-top:10px;
	margin-right: 10px;
	margin-left: 5px;
	height: 28px;
	padding-top: 8px;
	padding-left: 15px;
	width:450px;
	margin-bottom:15px;
}
.admin-tblHeaderPrice
{
    font-weight: 400;
	padding-left: 130px;
    }
.category-Question
{
  font-weight: 400;
  padding-left : 165px;
}
 .category-TopicName
    {
    font-weight: 400;
	padding-left: 55px;
    }
    .admin-tblHeaderDelete
    {
         font-weight: 400;
	     
    }
    
    .DisplayTable1
{
    margin:20px 0px;
    width:98.5%;
    border-collapse:collapse;
}
.DisplayTable1 td
{
    border:solid 1px #DDD;
    padding: 6px;
    text-align:left;
    font-size: 12px;
    width:20px;
}
.DisplayTable1 td a
{
    padding:6px;
    text-align:left;
    font-size: 14px;
    height:10px;
    text-decoration:none;
   color: #777;
}

.DisplayTableDashboard
{
   
    width:100%;
    border-collapse:collapse;
}

.DisplayTableDashboard td a
{    
   float: left;
text-decoration: none;
color: #777;
font-family: Nunito;
font-size: 14px;
font-weight: 300;
text-align: justify;
margin-right: 5px;
margin-left: 5px;
height: 20px;
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
}
.DisplayHomeBanner
{
    margin-top:7px;
   margin-left:30px;
   padding-bottom:10px;
   
    }
    .DisplayHomeBanner td
   {   
    border-bottom:1px solid #CCCCCC;
    padding:10px 0px 10px 0px;
    }
    .ViewHomeBanner
{
  
   padding-bottom:10px;
   
    }
    .ViewHomeBanner td
   {   
    border-bottom:1px solid #CCCCCC;
    padding:10px 0px 10px 0px;
    }
    .admin-homepageAddImage
    {
         font-weight: 400;
	padding-left: 220px;
        
        }
        
       .input[type=file] {
	font-family: Nunito;
	background-color:transparent;
	height:33px;
	width :120px;
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	float:left;
	background:#eeeeee;
	line-height:33px;
	color:#545454;
	text-align:center;
	cursor:pointer;
}
.submitpad
{
    padding-top:20px;


    }
    
    .TextBox_Question {
	color: #545454;
	background-color: #ffffff;
	height: 36px;
	width: 400px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 15px;
	margin-bottom: 10px;
}
.TextBox_QuestionNew {
	color: #545454;
	background-color: #ffffff;
	height: 36px;
	width: 400px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 20px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 10px;
}
#TextBox_Question1 {
	color: #545454;
	background-color: #ffffff;
	height: 36px;
	width: 350px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;	
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 5px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
}
 .TextBox_Answer {
	color: #545454;
	background-color: #ffffff;
	height: 36px;
	width: 320px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 10px;

}

.dropdown
{display: inline-block;
	outline: none;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	font-family: Nunito;
	font-weight: 300;
	font-size: 14px;
	margin-top: 10;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-left: 0;
	padding-left: 3px;
	height: 38px;
	width: 250px;
}
.custom-selectEvent select {
	display: inline-block;
	outline: none;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	font-family: Nunito;
	font-weight: 300;
	font-size: 14px;
	margin-top: 10;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-left: 15px;
	padding-left: 3px;
	height: 38px;
	width: 220px;
}
.custom-selectTopic select {
	display: inline-block;
	outline: none;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	font-family: Nunito;
	font-weight: 300;
	font-size: 14px;
	margin-top: 10;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-left: 0px;
	padding-left:3px;
	height: 38px;
	width: 300px;
}
#QuestionId {
	color: #545454;
	background-color: #ffffff;
	height: 36px;
	width: 300px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;	
	padding-right: 5px;
	padding-left: 10px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 5px;
	font-weight: 300;
	margin-left: 15px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
}
.admin-FeedbackName {
	font-weight: 400;
	padding-left:30px;
}
.admin-FeedbackEmail
{
    font-weight: 400;
	padding-left:50px;
    }
    .admin-Feedback2
{
    font-weight: 400;
	padding-left:130px;
    }
       .admin-Feedbackdate
{
    font-weight: 400;
	padding-left:240px;
    }
     .admin-FeedbackStatus
{
    font-weight: 400;
	padding-left:110px;
    }
    
      .admin-CountryName
{
    font-weight: 400;
	padding-left:60px;
    }
         .admin-GradeName
{
    font-weight: 400;
	padding-left:80px;
    }
    
      .admin-CountryUsers
{
    font-weight: 400;
	padding-left:530px;
    }
    .TextBox_CategoryName {
	color: #545454;
	background-color: #ffffff;
	height: 30px;
	width: 280px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 10px;
}
 .TextBox_CategoryNameUpdate {
	color: #545454;
	background-color: #ffffff;
	height: 30px;
	width: 250px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 10px;
}
.checkBox_Subscriptions {
	color: #545454;
	background-color: #ffffff;
	height: 15px;
	width: 15px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 20px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 10px;
}
.TextBox_CategoryNOT {
	color: #545454;
	background-color: #ffffff;
	height: 25px;
	width: 125px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 5px;
	
}
 .TextBox_CategoryTestName {
	color: #545454;
	background-color: #ffffff;
	height: 30px;
	width: 350px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 20px;
	margin-bottom: 10px;
}
.custom-selecturation select {
	display: inline-block;
	outline: none;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	font-family: Nunito;
	font-weight: 300;
	font-size: 14px;
	margin-top: 10;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-left: 0px;
	padding-left: 0px;
	height: 33px;
	width: 260px;
}
.TextBox_CategorysearchTopic {
	color: #545454;
	background-color: #ffffff;
	height: 30px;
	width: 180px;
	border:1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0px 1px 3px #dddddd;
	-webkit-box-shadow:inset 0px 1px 3px #bbb;
	-moz-box-shadow:inset 0px 1px 3px #bbb;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Nunito;
	font-size: 14px;
	margin-top: 0px;
	font-weight: 300;
	margin-left: 0px;
	margin-bottom: 10px;
}
.admin-tblEventType{font-weight: 400;padding-left:150px;}
.admin-tblUserName{font-weight: 400;padding-left:180px;}
.admin-tblExtra{font-weight: 400;padding-left:180px;}
.admin-Dashboard-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 538px;
}
.admin-Country-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 490px;
}
.admin-Grade-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 520px;
}
.admin-Quizzes-text1 {
	font-size: 15px;
font-family: Nunito;
font-weight: 300;
color: #FFF;
text-align: right;
width: 518px;
line-height: 17px;
margin-left: 210px;
margin-top: 10px;
}
.admin-Homepage-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 530px;
}
.admin-Add-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 650px;
}
.admin-Search-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 520px;
}
.admin-CategoryHead-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 570px;
}
.admin-QuizzHead-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 590px;
}
.admin-TestHead-text1 {
	font-size: 40px;
	font-family: Nunito;
	font-weight: 300;
	color: #FFF;
	float: left;
	margin-left: 625px;
}
.ImgSubmit
{
    float:right;
    padding-right:25px;
    }
    .footlink a
    {
        float: left;
text-decoration: none;
color: #000;
font-family: Nunito;
font-size: 14px;
font-weight: 300;
text-align: justify;
margin-right: 5px;
margin-left: 5px;
height: 20px;
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
        }
    .sizetext
    {
     padding-left:30px;
     margin-bottom:5px;
     font-family: Nunito;
	 font-weight: 300;
     } 
     
      .lableName
    {
     padding-left:20px;
     
     font-family: Nunito;
	 font-weight: 300;
     }    
     .admin-TestDuration {
	
	font-family: Nunito;
	
	margin-left: 380px;
}  
 .admin-TestCount {	
	font-family: Nunito;	
	margin-left: 70px;
}
#biopic {
float: left;
padding: 8px 15px 15px 20px;
margin: 8px 10px 10px 10px;
border: 1px solid;

border-color: #cccccc;
width: 180px;
voice-family: "\"}\"";
voice-family: inherit;

}    

.AddNewTest input[type=button] {
	font-family: Nunito;
	background-color:transparent;
	height:26px;
	/*width :100px;*/
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	/*margin-left:25px;*/
	-moz-border-radius:5px;
	float:left;
	background:#1e6cff;
	line-height:20px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	padding-bottom:3px;
	margin-bottom:10px;
	margin-left:10px;
}
.AddNewTest input[type=button]:hover {
	font-family: Nunito;
	background-color:transparent;
	height:26px;
	/*width :100px;*/
	box-shadow: none;
	border:none;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	/*margin-left:25px;*/
	float:left;
	background:#a300d9;
	line-height:20px;
	padding-bottom:3px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	
}

.userinfo_label
{
    padding-left: 0px;
    font-family: Nunito;
    font-weight: 300;
}

/*for checkbox*/

/* SQUARED TWO */
.squaredTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 3.5px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/*Fileipload


.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

*/